<form [formGroup]="loginForm" (ngSubmit)="login()">
  <h5 class="text-center">Login Form</h5>
  <div class="mb-3">
    <label for="email" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
        email is required
      </div>
      <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
        email is invalid !
      </div>
  </div>
  <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="pwd">
      <div class="form-text text-danger" *ngIf="PWD.errors?.['minlength'] && (PWD.dirty || PWD.touched)">
        Password should be at least 6 and the max 20 char
      </div>
      <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">
        password is required
      </div>
  </div>
  <div>
    <button type="submit" class="d-block mx-auto btn btn-outline-primary" [disabled]="loginForm.invalid">Login Account</button>
  </div>
  <!-- <div class="mt-3 text-center">
    <h5 class="text-success">Accont has been cretaed</h5>
  </div> -->
</form>
